name: "Labels: Approve"

on:
  pull_request_review:
    types: [submitted]

jobs:
  remove_label:
    runs-on: ubuntu-latest
    if: github.event.review.state == 'approved'
    permissions:
      pull-requests: write
      issues: write
      contents: write
      actions: write
    steps:
      - name: check all revs
        id: check_approvals
        uses: actions/github-script@v7
        with:
          script: |
            const { data: reviews } = await github.rest.pulls.listReviews({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
            });

            const requiredApprovals = context.payload.pull_request.requested_reviewers.length;
            const approvedReviews = reviews.filter(review => review.state === 'APPROVED').length;

            return approvedReviews >= requiredApprovals;

      - name: rm labels
        if: steps.check_approvals.outputs.result == 'true'
        uses: actions/github-script@v7
        with:
          script: |
            const labelsToRemove = ['Status: Needs Review', 'Status: Awaiting Changes'];
            const currentLabels = context.payload.pull_request.labels.map(label => label.name);

            for (const label of labelsToRemove) {
              if (currentLabels.includes(label)) {
                await github.rest.issues.removeLabel({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: context.payload.pull_request.number,
                  name: label,
                });
              }
            }
